/* color palette */
/* sfondo ds:rgb(49,97,224); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .container{
    max-width: 800px;
    margin: 0 auto;
    background-color: black;
    height: 600px;
} */
body{
    font-family:sans-serif;
    background-color: rgb(49,97,224);
}
/* header */
nav{
    display: flex;
    flex-direction: row;
    height: 150px;
    border: 1px solid black;
}
img{
    height: 30px;
}
.logo-navbar{
    display: flex;
    background-color: rgb(49,97,224);
    width: calc(100% / 3);
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    color: white;      
}
h4{
    margin: 20px;
}

.accedi{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    font-size: 15px;
}
/* main */
.download-ds{
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(49,97,224);
    height: 400px;
    display: flex; 
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
h3{
    color: white;
    font-size: 20px;
}
h1{
    color: white;
    font-size: 70px;
    padding-bottom: 30px;
}
.discord-description{
    color: white;
    text-align: center;
}
/* .buttons{
    padding: 40px;
} */
.button-1{
    margin: 10px;
    padding:20px;
    font-size: 20px;
    border-radius: 40px;
    border: none;
}
.button-2{
    margin: 10px;
    padding:20px;
    font-size: 20px;
    border-radius: 40px;
    border: none;
    background-color: black;
    color: white;
}
.another-description{
    display: flex;    
}
.another-description-reverse{
    display: flex;
    flex-direction: row-reverse;
}
.d-part1{
    width: 30%;
    height: 500px;
    background-color: white;
}
.d-part2{
    width: 70%;
    height: 500px;
    background-color: grey;
}